@tailwind base;
@tailwind components;
@tailwind utilities;


.header {
    display: grid;
    grid-template-areas: "header-logo header-menu header-icons";
    grid-template-columns: 1fr 2fr 1fr;
    .header__logo {
        grid-area: header-logo;
    }
    .header__menu {
        grid-area: header-menu;
    }
    .header__icon {
        grid-area: header-icon;
    }
    @media (max-width: 767px) {
        grid-template-areas: "header-menu header-logo header-icons";
        grid-template-columns: 1fr 2fr 1fr;
    }
    .nav__item {
        .nav__item-submenu {
            display: none;
        }
        &:hover .nav__item-submenu {
            display: block;
        }
    }
}

// helper
img, video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.shopify-payment-button{
    button{
        @apply bg-black text-white rounded-sm;
    }
}

.button__primary{
    @apply bg-black text-white rounded-sm my-2 py-3 px-6 flex items-center justify-center;
}